{% extends "base.html.twig" %}

{% block title %}Création d'une facture{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="my-3">Créer une nouvelle facture</h1>
       
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer une nouvelle facture</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
 
        var $moyenPaiement = $("#fac_moyenPaiement");
 
        $moyenPaiement.change(function () {
            var $form = $(this).closest('form');
 
            var data = {};
            data[$moyenPaiement.attr('name')] = $moyenPaiement.val();
 
            console.log(data[$moyenPaiement.attr('tarif_libelle')]);
            $valeur = data[$moyenPaiement.attr('tarif_libelle')];
 
            $.post($form.attr('action'), data).then(function (data) {

                }
 
            })
 
        })
    </script>
{% endblock %}