{% extends "base.html.twig" %}

{% block title %}Création d'une facturation{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="my-3">Créer une nouvelle facturation</h1>
       
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer une nouvelle facturation</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
 
{% block javascripts %}
    
{% endblock %}